@model PeachGroveApartments.Infrastructure.Models.Application

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AptUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AptUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForMoving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonForMoving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AptNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AptNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>