@model AcmeApartments.Web.ViewModels.PaymentsViewModel
@{
    ViewData["Title"] = "My Bills";
    Layout = "~/Views/Shared/_ResidentLayout.cshtml";

}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Payments</h1>

<br />

<div class="container">
    <ul class="nav nav-tabs fp" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#bills">

                <div class="wrapper">

                    <div class="fp-link-content">
                        <span class="fp-group-name"> My Bills </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="bills" class="container tab-pane active">

            <br>
            <h3>Rent Bill</h3>
            <br />

            <table class="table fp-table table-responsive-md table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">SF</th>
                        <th scope="col">Amount Due</th>
                        <th scope="col">Due Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-315</td>
                        <td>750</td>
                        <td>
                            @Model.User.AptPrice
                        </td>
                        <td>12/25/2020</td>
                        <td>
                            <a href="#" class="paylink">Pay Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <h3>Water Bill</h3>
            <br />

            <table class="table fp-table table-responsive-md table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Amount Due</th>
                        <th scope="col">Due Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.WaterBill.Amount</td>
                        <td>@Model.WaterBill.DateDue.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a href="#" class="paylink">Pay Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <h3>Electric Bill</h3>
            <br />

            <table class="table fp-table table-responsive-md table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Amount Due</th>
                        <th scope="col">Due Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@Model.ElectricBill.Amount</td>
                        <td>@Model.ElectricBill.DateDue.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a href="#" class="paylink">Pay Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>