@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

}

<div class="row">
    <div class="col-md-7" style="margin: 0 auto;">

        <div class="card">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <br />
                <div class="login-form-icon">
                    <font size="10"><i class="fa fa-user-circle text-secondary fa-lg"></i></font>
                </div>
                <br />

                <form asp-route-returnUrl="@Model.ReturnUrl" asp-route-isdirectlogin="@Model.IsDirectLogin" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <font size="2"> <i class="fa fa-envelope"></i></font>
                                    </div>
                                </div>
                                <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <font size="3"><i class="fa fa-lock"></i></font>
                                    </div>
                                </div>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-primary col-md-6">Log in</button>
                    </div>

                    <div class="form-group" style="display: flex; justify-content: center;">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>

                @*@{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div> }
                    else
                    {
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <div style="display: flex; justify-content: center;">
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <button class="btn btn-light" type="submit" name="provider" value="@provider.Name" style="background-color: #E8E8E8;cursor:pointer;border-radius: 30px;min-width:300px;">Login using <img src="~/images/googlelogo.png" style="max-width: 16px; height: auto;" /> Google</button>
                                </form>
                            </div>
                        }

                    }

                }*@
            </div>
        </div>
    </div>
</div>

@*<div class="row py-4">
    <div class="col-md-7" style="margin: 0 auto;">
        <div class="card">
            <div class="card-header">
                Demo Login Credentials
            </div>
            <div class="card-body">
                <div>
                    <div class="col-md-12">
                        <span>
                            User: <b>John.Doe@applicant.com</b>
                            <span style="margin-left: 3px;">Password: <b>P@ssword1</b></span>
                        </span> <br /><br />

                        <span>
                            User: <b>Tom.Higgins@resident.com</b>
                            <span style="margin-left: 3px;">Password: <b>P@ssword1</b></span>
                        </span> <br /><br />

                        <span>
                            User: <b>Jamie.Jackson@manager.com</b>
                            <span style="margin-left: 3px;">Password: <b>P@ssword1</b></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}