@using Microsoft.AspNetCore.Identity
@using Peach_Grove_Apartments_Demo_Project.HelperClasses
@inject SignInManager<AptUser> SignInManager
@inject UserManager<AptUser> UserManager
@model Peach_Grove_Apartments_Demo_Project.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Application User";
    var routeParams = new Dictionary<string, string>();
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Applications for @Model.FirstName @Model.LastName</h1>

<hr />
<div class="container">
    @{
        if (@Model.Apps.Count != 0)
        { <table class="table fp-table">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">Application Id</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in @Model.Apps)

                    {
                        routeParams = new Dictionary<string, string>
                                                {
                                        { "id", application.AptUserId },
                                        { "aptnumber", application.AptNumber },
                                        { "aptprice", application.Price },
                                        { "ssn", application.SSN },
                                        { "appid", application.ApplicationId.ToString() }

                                };

                        <tr>
                            <td>@application.ApplicationId</td>

                            <td>

                                <a asp-controller="manageraccount" asp-action="viewapplication" asp-route-id="@application.ApplicationId">View</a>
                            </td>

                            <td>

                                <a asp-controller="manageraccount" asp-action="applicationedit" asp-route-id="@application.ApplicationId">Edit</a>
                            </td>
                            @if (application.Status == ApplicationStatus.CANCELED)
                            {
                                <td>

                                    <span style="color: lightgray"> Cancel</span>

                                </td>

                            }
                            else
                            {

                                <td>

                                    <a asp-controller="manageraccount" asp-action="applicationcancel" asp-route-id="@application.ApplicationId">Cancel</a>
                                </td>
                            }


                            @if (application.Status == ApplicationStatus.APPROVED)
                            {

                                <td>
                                    <span style="color: darkgreen"><i class="fa fa-check text-success"></i>Approved</span>

                                    <a asp-controller="manageraccount" asp-action="unapproveapplication" asp-all-route-data="@routeParams" style="margin-left:30px;">Unapprove</a>
                                </td>

                            }
                            else if (application.Status == ApplicationStatus.UNAPPROVED)
                            {
                                <td>

                                    <span style="color: darkred"><i class="fa fa-ban"></i> Unapproved</span>

                                    <a asp-controller="manageraccount" asp-action="approveapplication" asp-all-route-data="@routeParams" style="margin-left:30px;">Reapprove</a>
                                </td>

                            }
                            else if (application.Status == ApplicationStatus.CANCELED)
                            {
                                <td>

                                    <span style="color: darkred"><i class="fa fa-ban"></i> Canceled</span>

                                    <a asp-controller="manageraccount" asp-action="approveapplication" asp-all-route-data="@routeParams" style="margin-left:30px;">Approve</a>
                                </td>

                            }
                            else
                            {
                                <td>

                                    <a asp-controller="manageraccount" asp-action="approveapplication" asp-all-route-data="@routeParams">Approve</a>
                                </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>This applicant does not have any applications on file.</h4>
        }
    }
</div>