@using Microsoft.AspNetCore.Identity
@inject SignInManager<AptUser> SignInManager
@inject UserManager<AptUser> UserManager
@model List<AptUser>

@{
    ViewData["Title"] = "Residents";
}

@{
    //todo-p: table not resp - header row not all the way
}
<partial name="_LoggedInAsPartial" />
<br />
<h1>Residents with Maintenance Requests</h1>
<hr />

<div class="container">

    @{
        if (Model.Count() != 0)
        {
        @for (int i = 0; i < Model.Count; i++)
            {
                if (i != 0)
                {
        <hr />
                }

        <div style="display:flex">
            <div class="flex flex-row" style="display: inline-block;padding: 10px;">@Model[i].FirstName @Model[i].LastName</div>

            <div style="display: inline-block; margin-left: 50px;"><a asp-controller="manageraccount" asp-action="maintenanceuser" asp-route-id="@Model[i].Id" asp-route-fname="@Model[i].FirstName" asp-route-lname="@Model[i].LastName" class="fp-applylink" style="margin-left: 40px;">View</a></div>
        </div>

            }

        }
        else
        {
        <h4>There are no residents with maintenance requests at this time.</h4>
        }
    }

</div>