@using Microsoft.AspNetCore.Identity
@inject SignInManager<AptUser> SignInManager
@inject UserManager<AptUser> UserManager
@model Peach_Grove_Apartments_Demo_Project.ViewModels.MaintenanceRequestViewModel
@{
    ViewData["Title"] = "Maintenace User";
}

@{
    //TODO-P: table not resp and rename variables accord to name conv
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Maintenance Requests for @Model.userFName @Model.userLName</h1>

<hr />
<div class="container">

    <table class="table fp-table table-responsive-md table-responsive-sm">

        <thead class="thead-light">
            <tr>
                <th scope="col">Maintenance Id</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mRecord in Model.mRequests)
            {
            <tr>
                <td>@mRecord.Id</td>

                <td>

                    <a asp-controller="manageraccount" asp-action="viewmaintenancerequest" asp-route-id="@mRecord.Id" class="fp-applylink">View</a>
                </td>

                <td>

                    <a asp-controller="manageraccount" asp-action="maintenanceedit" asp-route-id="@mRecord.Id" class="fp-applylink">Edit</a>
                </td>

                @if (mRecord.Status == "Approved")
                {

                    <td>
                        <span style="color: darkgreen"><i class="fa fa-check text-success"></i>Approved</span>

                        <a asp-controller="manageraccount" asp-action="unapprovemaintenance" asp-route-maintenanceid="@mRecord.Id" style="margin-left:30px;">Unapprove</a>
                    </td>

                }
                else if (mRecord.Status == "UnApproved")
                {
                    <td>

                        <span style="color: darkred"><i class="fa fa-ban"></i> Unapproved</span>

                        <a class="fp-applylink" asp-controller="manageraccount" asp-action="approvemaintenance" asp-route-uid="@mRecord.AptUserId" asp-route-mid="@mRecord.Id">ReApprove</a>
                    </td>

                }
                else
                {
                    <td>

                        <a class="fp-applylink" asp-controller="manageraccount" asp-action="approvemaintenance" asp-route-uid="@mRecord.AptUserId" asp-route-mid="@mRecord.Id">Approve</a>
                    </td>

                }
            </tr>

            }
        </tbody>
    </table>
</div>