@using Microsoft.AspNetCore.Identity
@inject SignInManager<AptUser> SignInManager
@inject UserManager<AptUser> UserManager
@model List<Peach_Grove_Apartments_Demo_Project.Models.MaintenanceRequest>
@{
    ViewData["Title"] = "Maintenace User";
    var user = UserManager.GetUserAsync(User).Result;
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Maintenance Requests for @user.FirstName @user.LastName</h1>

<hr />
<div class="container">
    @{
        if (Model.Count != 0)
        { <table class="table fp-table">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">Maintenance Id</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mRecord in Model)

                    {
                        <tr>
                            <td>@mRecord.Id</td>

                            <td>
                                <div class="fp-applylink">
                                    <a asp-controller="manageraccount" asp-action="viewmaintencerequest" asp-route-Id="@mRecord.Id">View</a>
                                </div>
                            </td>

                            <td>
                                <div class="fp-applylink">
                                    <a asp-controller="manageraccount" asp-action="maintenancedit" asp-route-Id="@mRecord.Id">Edit</a>
                                </div>
                            </td>
                                    <td>
                                        <div class="fp-applylink">
                                            <a asp-controller="manageraccount" asp-action="approvemaintenance" asp-route-id="@mRecord.AptUserId" asp-route-mid="@mRecord.Id">Approve</a>
                                        </div>
                                    </td>
                            <td>
                                <div class="fp-applylink">
                                    <a asp-controller="manageraccount" asp-action="maintenancedelete" asp-route-Id="@mRecord.Id">Delete</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>This resident does not have any requests on file.</h4>
        }
    }
</div>

