@model AcmeApartments.Web.ViewModels.ApplyViewModel

@{
    ViewData["Title"] = "Apply";
}

<div class="col-md-9" style="margin: 0 auto;">

    <div class="card">

        <div class="card-header">
            <h3>Application</h3> <span><b>Apartment #:</b></span> <span>@Model.AptNumber</span>  <span><b>SF:</b></span> <span>@Model.Area</span>  <span><b>Price:</b></span> <span>$@Model.Price</span>
        </div>

        <form id="apply" asp-action="Apply" class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.FirstName" class="control-label"></label>
                        <input asp-for="@Model.FirstName" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.LastName" class="control-label"></label>
                        <input asp-for="@Model.LastName" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.DateOfBirth" class="control-label">Date of Birth</label>
                        <input asp-for="@Model.DateOfBirth" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="@Model.PhoneNumber" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Email" class="control-label">Email</label>
                        <input asp-for="@Model.Email" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.StreetAddress" class="control-label"></label>
                        <input asp-for="@Model.StreetAddress" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.City" class="control-label"></label>
                        <input asp-for="@Model.City" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.State" class="control-label"></label>
                        <input asp-for="@Model.State" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.Zipcode" class="control-label"></label>
                        <input asp-for="@Model.Zipcode" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Occupation" class="control-label"></label>
                        <input asp-for="@Model.Occupation" class="form-control" />
                        <span asp-validation-for="@Model.Occupation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Income" class="control-label"></label>
                        <input asp-for="@Model.Income" class="form-control" />
                        <span asp-validation-for="@Model.Income" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.ReasonForMoving" class="control-label"></label>
                        <input asp-for="@Model.ReasonForMoving" class="form-control" />
                        <span asp-validation-for="@Model.ReasonForMoving" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.SSN" class="control-label"></label>
                        <input asp-for="@Model.SSN" class="form-control" />
                        <span asp-validation-for="@Model.SSN" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(x => x.Price)
            @Html.HiddenFor(x => x.AptNumber)
            @Html.HiddenFor(x => x.Area)

            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
            <div>
                <a asp-controller="home" asp-action="showfloorplans" asp-route-floorplantype="@Model.FloorPlanType">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#apply').on('submit', function () {
            if ($('#apply').valid()) {
                $('input, select').prop('disabled', false);
                return true;
            }
        });
    </script>

}