@model PeachGroveApartments.ApplicationLayer.ViewModels.ApplyViewModel

@{
    ViewData["Title"] = "Apply";

}

<h1>Application</h1> <span><b>Room #:</b></span> <span>@Model.AptNumber</span>   <span><b>Price:</b></span> <span>$@Model.Price</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="apply" asp-action="ApplyPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.FirstName" disabled />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.LastName" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <input class="form-control" value="@Model.User.DateOfBirth" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" value="@Model.User.Email" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input class="form-control" value="@Model.User.PhoneNumber" disabled />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.StreetAddress" disabled />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.City" disabled />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.State" disabled />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@Model.User.Zipcode" disabled />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Occupation" class="control-label"></label>
                <input asp-for="@Model.Occupation" class="form-control" />
                <span asp-validation-for="@Model.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Income" class="control-label"></label>
                <input asp-for="@Model.Income" class="form-control" />
                <span asp-validation-for="@Model.Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ReasonForMoving" class="control-label"></label>
                <input asp-for="@Model.ReasonForMoving" class="form-control" />
                <span asp-validation-for="@Model.ReasonForMoving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SSN" class="control-label"></label>
                <input asp-for="@Model.SSN" class="form-control" />
                <span asp-validation-for="@Model.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AptNumber" class="control-label"></label>
                <input asp-for="@Model.AptNumber" class="form-control" value="@Model.AptNumber" disabled />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Area" class="control-label"></label>
                <input asp-for="@Model.Area" class="form-control" value="@Model.Area" disabled />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" value="@Model.Price" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="home" asp-action="showfloorplans" asp-route-floorplantype="@Model.FloorPlanType">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#apply').on('submit', function () {
            //event.preventDefault();
            if ($('#apply').valid()) {
                $('input, select').prop('disabled', false);
                return true;
            }
        });
    </script>

}