@using Microsoft.AspNetCore.Identity

@model IList<AptUser>

@{
    ViewData["Title"] = "Application Users";
    ViewBag.Success = "The application was canceled successfully!";
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Applicants List</h1>

<hr />

<div class="container">

    @{ if (Model.Count() > 0)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i > 0)
                {
                    <hr />
                }

                <div style="display:flex">
                    <div class="flex flex-row" style="display: inline-block; vertical-align: middle; padding: 10px;min-width: 200px;">@Model[i].FirstName @Model[i].LastName</div>

                    <div style="display: inline-block; margin-left: 50px;"><a asp-controller="manageraccount" asp-action="showapplications" asp-route-userid="@Model[i].Id" asp-route-firstname="@Model[i].FirstName" asp-route-lastname="@Model[i].LastName" class="fp-applylink" style="margin-left: 40px;">View</a></div>
                </div>
            }

        }
        else
        {
            <h4>There are no applicants in the system right now.</h4>
        }
    }
</div>