@model AcmeApartments.Web.ViewModels.MaintenanceRequestsListViewModel
@{
    ViewData["Title"] = "User Maintenace";

    ViewBag.MaintenanceEditSuccessMessage = "The maintenance request was edited successfully!";
    ViewBag.MaintenanceEditFailedMessage = "There was an error editting the maintenance request. Please try again later.";

    ViewBag.MaintenanceApproveSuccessMessage = "The maintenance request was successfully approved!";
    ViewBag.MaintenanceApproveFailedMessage = "There was an error approving the maintenance request. Please try again later.";

    ViewBag.MaintenanceUnApproveSuccessMessage = "The maintenance request was successfully unapproved!";
    ViewBag.MaintenanceUnApproveFailedMessage = "There was an error unapproving the maintenance request. Please try again later.";

    ViewBag.MaintenanceCanceledSuccessMessage = "The maintenance request was successfully canceled!";
    ViewBag.MaintenanceCanceledFailedMessage = "There was an error cancelling the maintenance request. Please try again later.";

}

@if (ViewBag.MaintenanceEditSuccess != null && ViewBag.MaintenanceEditSuccess)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceEditSuccessMessage" />
}
else if (ViewBag.MaintenanceApproveSuccess != null && ViewBag.MaintenanceApproveSuccess)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceApproveSuccessMessage" />
}
else if (ViewBag.MaintenanceUnApproveSuccess != null && ViewBag.MaintenanceUnApproveSuccess)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceUnApproveSuccessMessage" />
}
else if (ViewBag.MaintenanceCanceledSuccess != null && ViewBag.MaintenanceCanceledSuccess)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceCanceledSuccessMessage" />
}
else if (ViewBag.MaintenanceEditFailed != null && ViewBag.MaintenanceEditFailed)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceEditFailedMessage" />
}
else if (ViewBag.MaintenanceApproveFailed != null && ViewBag.MaintenanceApproveFailed)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceApproveFailedMessage" />
}
else if (ViewBag.MaintenanceUnApproveFailed != null && ViewBag.MaintenanceUnApproveFailed)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceUnApproveFailedMessage" />
}
else if (ViewBag.MaintenanceCanceledFailed != null && ViewBag.MaintenanceCanceledFailed)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.MaintenanceCanceledFailedMessage" />
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Maintenance Requests for @Model.MaintenanceRequests[0].User.FirstName @Model.MaintenanceRequests[0].User.LastName</h1>

<hr />
<div class="container">

    <table class="table fp-table table-responsive-md ">

        <thead class="thead-light">
            <tr>
                <th scope="col">Maintenance Id</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var maintenancerecord in Model.MaintenanceRequests)
            {
                <tr>
                    <td>@maintenancerecord.Id</td>

                    <td>
                        <a asp-controller="manageraccount" asp-action="viewmaintenancerequest" asp-route-maintenanceid="@maintenancerecord.Id">View</a>
                    </td>

                    <td>
                        <a asp-controller="manageraccount" asp-action="editmaintenancerequest" asp-route-maintenanceid="@maintenancerecord.Id">Edit</a>
                    </td>

                    @if (maintenancerecord.Status == MaintenanceRequestStatus.APPROVED)
                    {

                        <td>
                            <span style="color: darkgreen"><i class="fa fa-check text-success"></i>Approved</span>

                            <a asp-controller="manageraccount" asp-action="unapprovemaintenancerequest" asp-route-userid="@maintenancerecord.AptUserId" asp-route-maintenanceid="@maintenancerecord.Id" style="margin-left:30px;">Unapprove</a>
                        </td>

                    }
                    else if (maintenancerecord.Status == MaintenanceRequestStatus.UNAPPROVED)
                    {
                        <td>
                            <span style="color: darkred"><i class="fa fa-ban"></i> Unapproved</span>

                            <a asp-controller="manageraccount" asp-action="approvemaintenancerequest" asp-route-userid="@maintenancerecord.AptUserId" asp-route-maintenanceid="@maintenancerecord.Id" style="margin-left:30px;">ReApprove</a>
                        </td>

                    }
                    else
                    {
                        <td>
                            <a asp-controller="manageraccount" asp-action="approvemaintenancerequest" asp-route-userid="@maintenancerecord.AptUserId" asp-route-maintenanceid="@maintenancerecord.Id">Approve</a>
                        </td>

                    }
                </tr>

            }
        </tbody>
    </table>
</div>