@model MaintenanceRequestViewModel;

@{
    ViewData["Title"] = "View Maintenance Request";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<h1>View Maintenance Request</h1>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRequested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AptUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AptUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isAllowedToEnter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isAllowedToEnter)
        </dd>
    </dl>

    <a asp-action="showmaintenancerequests" asp-route-aptuserid=@Model.AptUserId>Back to List</a>
</div>