@model AcmeApartments.Web.ViewModels.MaintenanceRequestViewViewModel

@{
    ViewData["Title"] = "View Maintenance Request";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<h1>View Maintenance Request</h1>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceRequest.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceRequest.DateRequested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceRequest.DateRequested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceRequest.AptUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceRequest.AptUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceRequest.ProblemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceRequest.ProblemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceRequest.isAllowedToEnter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceRequest.isAllowedToEnter)
        </dd>
    </dl>

    <a asp-action="showmaintenancerequests" asp-route-firstname="@Model.UserFirstName" asp-route-lastname="@Model.UserLastName">Back to List</a>
</div>